@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{

  text-align: center;
}
#welcome{
    width: 50%;
    background: linear-gradient(#60ebeb 0%,#27ae60 100%);
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top: 100px;
    padding-bottom: 10px;
    border-radius: 20px;

}

h2{
    padding-bottom: 50px;
}
#bio{
    padding-top:10px;
}
#welin{

    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    padding: 15px;
    background-color: grey;
    position: fixed;
    width: 100%;

}
ul{
    margin-left: 30px;
    margin-top: 2.5px;
    display: flex;
}
.logo{
    float: right;
    font-size: 20px;
}
li{
margin-right: 20px;
list-style: none;
cursor: pointer;
}
#webin{
    padding-left: 20px;
    padding-right: 20px;

    background:linear-gradient(blue, black);
}
p{
    color: white;
    word-spacing: 5px;
    line-height: 1.5;

}
#weli{
    border-radius: 100vh;
}
.h1{
    font-size: 5vh;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.h11{
    font-size: 5vh;
    margin: 10px;
    color: white;
}
iframe{
    border-radius: 30px;
}
#social h3{
    display: inline;
}